<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.jim.mybatis.model.service.BookMapper">

    <!--查询Sql-->
    <select id="find" resultType="Book">
        SELECT * FROM books LIMIT 1, 10
    </select>

    <select id="findBookById" resultType="Book">
        SELECT * FROM books WHERE id = #{id}
    </select>

</mapper>